doctype html
html(lang='en')
  head
    h1 Venuely
  body
    each _val, _key in venues
      dl
        dt= _key + ':'
          each v, k in _val
            dd= k + ':'
              each _v, _k in v
                ul(style='list-style-type:none')
                  li= _k + ':'
                    ul(style='list-style-type:square')
                      li=_v
